@import '../../styles/mixins/rem-calc';
@import '../../styles/mixins/breakpoints';

.score {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 20px;

  @include respond-above(xs) {
    gap: 25px;
  }
}

.scoreTitle {
  font-size: rem-calc(27);
  line-height: rem-calc(29);
  margin-bottom: rem-calc(10);
  color: $white;
  
  @include respond-above(xs) {
    font-size: rem-calc(35);
    line-height: rem-calc(37);
  }
}

.scoreNumber {
  font-size: rem-calc(22);
  line-height: rem-calc(26);
  color: $white;

  @include respond-above(xs) {
    font-size: rem-calc(30);
    line-height: rem-calc(32);
  }
}