@import '../../styles/mixins/rem-calc';

.img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
  overflow: hidden;
  border: 2px solid transparent;
}

.text {
  border-radius: 5px;
  width: 200px;
  flex: 1;
  padding: rem-calc(5 10);
  border: 2px solid transparent;
}

.itemContainer {
  margin-bottom: rem-calc(20);

  &:first-of-type {
    .text {
      border-color: #D0315D;
      color: #D0315D;
    }

    .img {
      border-color: #D0315D;
    }
  }

  &:nth-child(2) {
    .text {
      border-color: #8C4783;
      color: #8C4783;
    }

    .img {
      border-color: #8C4783;
    }
  }

  &:nth-child(3) {
    .text {
      border-color: #ECA16B;
      color: #ECA16B;
    }

    .img {
      border-color: #ECA16B;
    }
  }
}

.item {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}