// Colors
$white: #FFFFFF;
$primary: #ff7401;

// Font Family
$font-primary: 'Rowdies', sans-serif, arial;

// Font Colors
$font-colors: (
  'white': $white,
  'grey': #778,
  'dark': #000
);

// Border Colors
$border: (
  'light': #fff,
  'grey-light': #a7a7a7,
  'grey': #444444
);

// Backgrounds
$background-colors: (
  'light': #fff,
  'grey-light': #eee,
  'grey': #a7a7a7,
  'grey-dark': #363636,
  'dark': #151515,
  'dark-absolute': #000000
);

// Buttons
$button-colors: (
	'primary': $primary,
);

// Font Weights
$font-weights: (
	'thin': 100,
	'extra-light': 200,
	'light': 300,
	'regular': 400,
	'medium': 500,
	'semi-bold': 600,
	'bold': 700,
	'extra-bold': 800,
	'black': 900,
);

$success: #69af00;
$error: #D1383D;

$global-font-size: 16px;
$global-transition: all .3s ease;