.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9;
  transition: background-color .3s ease;
}

.white-background {
  background-color: #fff;
}

.yellow-background {
  background-color: #FEF0CB;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 150px;
  overflow: hidden;
}
